@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
}

.text-primary{
  color: #FED824;
}

.text-secondary{
  color: #A98C00;
}

.bg-primary{
  background: #FED824;
}

.bg-secondary{
  background: #A98C00;
}



.chimney-mask {
  position: relative;
  border-radius: 32px;
  overflow: hidden;

  -webkit-mask:
    radial-gradient(circle 80px at 100% 100%, transparent 98%, black 100%);
}


.bg-service{
  background: linear-gradient(180deg, #F3F6FC 0%, rgba(243, 246, 252, 0) 100%);
}

.bg-hero {
  background-image: url('/Hero/Mainslider.png');
}

.bg-right{
  background-image: url('/Hero/House.png');
}
.bg-choose {
  background-image: url('/Chooseus/WhyChoose.png');
}

.shadow-primary{
  box-shadow: 0px 41.63px 45.88px 0px #0654AA12;
}

.bg-contact{
  background-image: url('/Contactus/Contactus.png');
}